[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tuspy = "*"
pydicom = "*"

[dev-packages]
pytest = "*"
faker = "*"
python-dotenv = "*"

[requires]
python_version = "3.12"
